/* * FOOTER */

.footer {
    font-size: 15px;
    p {
        text-align: justify;
    }
    a {
        text-decoration: none;
        color: #6c757d;
    }
    a:hover {
        text-decoration: none;
        color: #729b10;
        cursor: pointer;
    }
    ul {
        list-style: none;
        margin: 0px 7px;
        padding: 0px;
    }
    li {
        list-style: none;
        margin: 5px 0px;
    }
    .footer-link {
        display: flex;
    }
    .btn i {
        font-size: 30px;
        cursor: pointer;
    }
    .btn i:hover {
        cursor: pointer;
    }
}
