/* MEDIA QUERY */
:root {
    --yellow: #fee500;
    --ig: #ac2bac;
    --web: #dd4b39;
}

.bg-grey {
    background: #f8f9fa;
}

.text-yellow {
    color: var(--yellow);
}

@media only screen and (min-width: 1200px) {
    .nav-item > .nav-link {
        padding: 5px 20px !important;
        display: block !important;
    }
    .navbar-expand-lg {
        height: 68px !important;
    }
    .nav-link {
        margin-bottom: -20px;
    }

    .nav-link::after {
        content: "";
        display: block;
        width: 0px;
        height: 3px;
        margin-top: 20px;
        background: var(--yellow);
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
    }

    .nav-link:hover::after {
        width: 100%;
    }

    .navbar-nav .nav-link:hover {
        color: var(--yellow);
    }
    .navbar-nav .fw-bold {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 992px) {
    .header-inner {
        background-color: white !important;
    }
    .nav-link a:hover {
        color: var(--yellow);
    }
}

.nav-item a {
    text-decoration: none;
    color: black;
}

/* NAVBAR */

.header-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: transparent;
}

.navbar-scroll {
    background-color: #ffffff;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition-duration: 0.4s;
}

.navbar-scroll .nav-item .nav-link {
    color: black;
}

/* FOOTER */

.footer p {
    font-size: 15px;
    text-align: justify;
}
.footer .copyright {
    font-size: 13px;
    text-decoration: none;
}
.footer .copyright .border-footer {
    width: 100%;
    margin-top: 20px;
    height: 5px;
    background: rgb(27, 107, 15);
    background: linear-gradient(
        90deg,
        rgba(27, 107, 15, 0.9724264705882353) 22%,
        rgba(77, 135, 15, 1) 56%,
        rgba(114, 155, 16, 1) 83%,
        rgba(144, 193, 27, 1) 99%
    );
}
.footer .btn-instagram {
    color: #fff;
    background-color: var(--ig);
    border-color: var(--ig);
}
.footer .btn-instagram:hover {
    color: #fff;
    background-color: #8f248f;
}

.footer .btn-web {
    color: #fff;
    background-color: var(--web);
    border-color: var(--web);
}
.footer .btn-web:hover {
    color: white;
    background-color: #ac4133;
}
