@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
}

:root {
    --yellow: #f1da0a;
    --ig: #ac2bac;
    --web: #dd4b39;
}

.bg-grey {
    background: #f8f9fa;
}

.text-yellow {
    color: var(--yellow);
}

/* CONTENT */

.bg-content {
    height: 94vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='600' preserveAspectRatio='none' viewBox='0 0 1440 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1108%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c1 C 96%2c18.2 288%2c82.6 480%2c87 C 672%2c91.4 768%2c16.4 960%2c23 C 1152%2c29.6 1344%2c100.6 1440%2c120L1440 600L0 600z' fill='rgba(152%2c 186%2c 86%2c 0.04)'%3e%3c/path%3e%3cpath d='M 0%2c270 C 96%2c259.2 288%2c219.2 480%2c216 C 672%2c212.8 768%2c264.6 960%2c254 C 1152%2c243.4 1344%2c181.2 1440%2c163L1440 600L0 600z' fill='rgba(123%2c 174%2c 0%2c 0.07)'%3e%3c/path%3e%3cpath d='M 0%2c406 C 72%2c398.8 216%2c371 360%2c370 C 504%2c369 576%2c403.2 720%2c401 C 864%2c398.8 936%2c360 1080%2c359 C 1224%2c358 1368%2c388.6 1440%2c396L1440 600L0 600z' fill='rgba(97%2c 209%2c 59%2c 0.07)'%3e%3c/path%3e%3cpath d='M 0%2c477 C 57.6%2c498.6 172.8%2c583 288%2c585 C 403.2%2c587 460.8%2c492.2 576%2c487 C 691.2%2c481.8 748.8%2c559.2 864%2c559 C 979.2%2c558.8 1036.8%2c488.8 1152%2c486 C 1267.2%2c483.2 1382.4%2c533.2 1440%2c545L1440 600L0 600z' fill='rgba(255%2c 255%2c 255%2c 0.99)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1108'%3e%3crect width='1440' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.bg-content2 {
    height: 88vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='600' preserveAspectRatio='none' viewBox='0 0 1440 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1114%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c48 C 96%2c61.4 288%2c123.4 480%2c115 C 672%2c106.6 768%2c-0.6 960%2c6 C 1152%2c12.6 1344%2c119.6 1440%2c148L1440 600L0 600z' fill='rgba(152%2c 186%2c 86%2c 0.04)'%3e%3c/path%3e%3cpath d='M 0%2c285 C 96%2c262 288%2c168.8 480%2c170 C 672%2c171.2 768%2c287.8 960%2c291 C 1152%2c294.2 1344%2c207 1440%2c186L1440 600L0 600z' fill='rgba(123%2c 174%2c 0%2c 0.07)'%3e%3c/path%3e%3cpath d='M 0%2c369 C 72%2c383.6 216%2c447.6 360%2c442 C 504%2c436.4 576%2c340.8 720%2c341 C 864%2c341.2 936%2c450.8 1080%2c443 C 1224%2c435.2 1368%2c330.2 1440%2c302L1440 600L0 600z' fill='rgba(97%2c 209%2c 59%2c 0.07)'%3e%3c/path%3e%3cpath d='M 0%2c452 C 57.6%2c469.4 172.8%2c530.4 288%2c539 C 403.2%2c547.6 460.8%2c497.2 576%2c495 C 691.2%2c492.8 748.8%2c525.4 864%2c528 C 979.2%2c530.6 1036.8%2c500.8 1152%2c508 C 1267.2%2c515.2 1382.4%2c552.8 1440%2c564L1440 600L0 600z' fill='rgba(255%2c 255%2c 255%2c 0.99)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1114'%3e%3crect width='1440' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

// DEKSTOP

@media only screen and (min-width: 992px) {
    body {
        font-size: 15px;
    }
    // NAVBAR
    .navbar-expand-lg {
        height: 68px !important;
    }
    .navbar {
        .nav-item > .nav-link {
            padding: 5px 20px !important;
            display: block !important;
        }

        .nav-link {
            margin-bottom: -22px;
        }

        .nav-link::after {
            content: "";
            display: block;
            width: 0px;
            height: 3px;
            margin-top: 22px;
            background: rgb(62, 110, 13);
            background: linear-gradient(
                142deg,
                rgba(62, 110, 13, 1) 35%,
                rgba(32, 167, 20, 1) 93%
            );
            transition: 0.4s;
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -ms-transition: 0.4s;
            -o-transition: 0.4s;
        }

        .nav-link:hover::after {
            width: 100%;
        }

        .navbar-nav .nav-link:hover {
            color: black;
        }
        .navbar-nav .fw-bold {
            margin-left: 12px;
        }
    }

    // CONTENT TB
    .content-TB {
        .row {
            padding: 0 5%;
            .col-lg-5 {
                padding: 2% 3%;
                height: 50vh;
                line-height: 30px;
            }
            .image img {
                padding-left: 110px;
            }
        }
    }

    // DROPDOWN
    .menu-items button {
        margin-bottom: 4px;
    }
}

// MOBILE X PHONE
@media only screen and (max-width: 992px) {
    body {
        font-size: 13px;
    }
    .navbar {
        .navbar-toggler:focus,
        .navbar-toggler:active,
        .navbar-toggler-icon:focus {
            outline: none;
            box-shadow: none;
            border: none;
        }
        .dropdown.show {
            display: block;
            height: 100px;
            .nav-link {
                margin-left: 20px;
                margin-bottom: -20px;
                text-justify: center;
            }
        }
    }
    .header-inner {
        background-color: white !important;
    }
    .nav-link a:hover {
        color: var(--yellow);
    }
}
