/* MEDIA QUERY */

@media only screen and (min-width: 1200px) {
    .nav-item > .nav-link {
        padding: 5px 20px !important;
        display: block !important;
    }
    .navbar-expand-lg {
        height: 75px !important;
    }
}

@media only screen and (max-width: 992px) {
}

.nav-item a {
    text-decoration: none;
    color: black;
}
.nav-item a:hover {
    color: chartreuse;
}
